<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>

<body>
  <script src="https://cdn.jsdelivr.net/npm/vue"></script>

  <div id="app">
    <form @submit='addNewItem' class="form" method="post">
      <input v-model='newItem.name' required placeholder="name" type="text" name='name'>
      <input v-model='newItem.quantity'  required placeholder="quantity" type="text" name='quantity'>
      <input v-model.number='newItem.price' required placeholder="price" type="number" name='price'>
      <input class="sendButton" type="submit" name="send" value="add item">
      <table>
        <tr class="items" v-for='(item, id) in items'>
          <td>{{item.name}}</td>
          <td>{{item.quantity}}</td>
          <td>{{item.price}}</td>
          <td><button @click='remuveItem(id)'>del</button></td>
        </tr>
      </table>
    </form>
  </div>
  <script src="./js/main.js"></script>
</body>

</html>
